//@use "scss/variables" as *;
@use "scss/colors" as *;
@use "scss/mixins" as *;
@use "scss/bar";
@use "scss/notifd";
@use "scss/clockmenu";
@use "scss/calendar";
@use "scss/mediaplayer";
@use "scss/controlcenter";
@use "scss/sysinfo";
@use "scss/launcher";
@use "scss/wallpaper";
@use "scss/clipboard";
@use "scss/themeswitcher";

* {
    all: unset;
    font-family: $font;
    font-size: $font-size;
    color: $text;
}